name: Build

on:
  push:
    tags: ['v*']

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v5

      - name: Install pkg
        run: uv tool install https://github.com/dc-dc-dc/pkg/releases/download/v0.1/pkg-0.1.0-py3-none-any.whl

      - name: Build
        run: pkg build

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: dist/*
